/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: 'geogrotesque_rgregular';
    src: url('../fonts/geogtq-lg-webfont.eot');
    src: url('../fonts/geogtq-lg-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/geogtq-lg-webfont.woff') format('woff'),
    url('../fonts/geogtq-lg-webfont.ttf') format('truetype'),
    url('../fonts/geogtq-lg-webfont.svg#geogrotesque_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'geogrotesque_rgregular', Verdana, Verdana, Geneva, sans-serif;
    font-size: 28px;
    color: #494949;
}
a,
a:visited {
    color: #0066cc;
}
a:hover {
    color: #00406a;
}
header {
    background-color: #0099ff;
    background: url("../img/wave-1.png") bottom right no-repeat,
		url("../img/wave-4.png") top center no-repeat,
		url("../img/monsters-3.png") left bottom no-repeat,
		url("../img/highlight.png") center bottom no-repeat,
        #0099ff;
    padding: 0;
	margin-top: 30px;
}
header .ico {
	padding: 0 0 180px;
    text-align: center;
    margin: 0 auto;
}
header .ico img {
	padding: 0px;
	margin: 0;
}
header ico {
    float:center;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    text-align:center;
}
header p {
	color: #aaddff;
	font-size: 66px;
	padding: 0 0 60px;
    max-width: 970px;
    text-align: center;
    margin: 0 auto;
	letter-spacing: 0.7px;
}
header li {
    display:inline-block;
    float:center;
    list-style:none;
    margin:0;
    position:relative;
}
header .logo {
    padding: 110px 0 0;
    clear: both;
}
header  h1 {
    width: 80%;
    height: auto;
    position: relative;
    margin: 0 auto;
}
header  h1 img {
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: 970px;
    max-height: 285px;
}
.contact .monster {
    margin: 0 auto;
    width: 30%;
    max-width: 400px;
}
.contact .monster img {
    width: 100%;
    display: block;
    max-width: 313px;
    margin-left: 100%;
}
.results p,
.team p,
.path p,
.solutions p,
.welcome p {
    padding: 0;
    max-width: 970px;
    text-align: center;
    margin: 0 auto;
	letter-spacing: 0.7px;
}
.results p,
.team p,
.path p,
.solutions p,
.welcome p {
    padding: 30px 0 100px;
}

.solutions {
    padding: 0px 0px 0;
}
.team,
.results,
.path,
.solutions {
    padding: 0px 0 120px;
    border-top: 1px solid #cccccc;
    position: relative;
}

h2 {
    font-size: 90px;
    color: #0099ff;
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 90px;
	
}

h3 {
    font-size: 26px;
    color: #333333;
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 0;
}
.path h3,
.solutions h3 {
    padding: 0 0 30px;
}
/* .solutions {
    background: url(../img/wave-2.png) center top no-repeat;
} */
.solutions ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.solutions ul li:first-child {
    border-top: 1px solid #ebebeb;
}
.solutions ul li {
    margin: 0;
    padding: 12px 0;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #ebebeb;
}
.welcome .devices {
    width: 80%;
    height: auto;
    position: relative;
    margin: 0 auto;
    padding: 20px 0 140px;
}
.welcome .devices img {
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: 1080px;
    max-height: 345px;
    position: relative;
    left: -2%;
}
.team ul,
.results .references,
.results .testimonials,
.path .cols,
.solutions .cols {
    max-width: 1030px;
    margin: 0 auto;
    overflow: hidden;
    list-style-type: none;
    position: relative;
}
.team li,
.results .testimonials .row,
.results .references .row,
.path .row,
.solutions .row {
    float: left;
    width: 29.33%;
    padding: 0 2%;
}

.path h3 {
    text-align: left;
}
.path .row p {
    padding: 0;
    text-align: left;
    font-size: 18px;
}
.team:before,
.results:before,
.path:before,
.solutions:before {
    content: "";
    width: 147px;
    height: 19px;
    background: url("../img/wave-3.png") top center no-repeat;
    margin: 0px auto 0;
    top: -1px;
    display: block;
    position: relative;
}

.welcome h2,
.contact h2,
.solutions h2,
.team h2,
.results h2,
.path h2 {
    padding: 90px 0 0;
}
.contact h2 {
    color: white;
}
.welcome h2 span {
    background: url("../img/ico-welcome-1.png") center left no-repeat;
	padding: 0 0 0 110px;
}
.solutions h2 span {
    background: url("../img/ico-solutions-1.png") center left no-repeat;
	padding: 0 0 0 110px;
}
.path h2 span {
    background: url("../img/ico-path-1.png") center left no-repeat;
	padding: 0 0 0 110px;
}
.results h2 span {
    background: url("../img/ico-results-1.png") center left no-repeat;
	padding: 0 0 0 110px;
}
.team h2 span {
    background: url("../img/ico-team-1.png") center left no-repeat;
	padding: 0 0 0 110px;
}
.contact h2 span {
    background: url("../img/ico-contact-1.png") center left no-repeat;
	padding: 0 0 0 110px;
}
.results .references {
    list-style-type: none;
    padding: 0 0 75px;
    position: relative;
}
.references a,
.references a:visited,
.references a:hover {
    display: block;
    color: #333333;
    text-align: center;
    text-decoration: none;
}
.references img {
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: 300px;
    max-height: 300px;
    position: relative;
}
.testimonials div.holder,
.references div.holder {
    position: relative;
    left: 0;
}
footer {
    line-height: 30px;
    text-align: center;
    color: #0099ff;
    background: #00406a;
    padding: 60px 0 60px;
    font-size: 18px;
	letter-spacing: 0.5px;
}
footer p {
	max-width: 820px;
	margin: 0 auto;
	text-align: center;
}
.navigation {
    margin:0 auto;
    height: 18px;
}
.navigation div {
    float:left;
    padding: 0px 0 0;
    position:relative;
    left:50%;

}
.navigation a {
    margin: 0px 10px 0;
    display: block;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background-color: #dcdcdc;
    float: left;
    position:relative;
    right:50%;
}
.navigation a.selected {
    background-color: #0079c9;
}
.testimonials {
    padding: 80px 0 50px;
}
.results .testimonials .row {
    font-size: 20px;
    padding: 0;
    width: 100%;
}

.testimonials .row p {
    padding: 0px 0 30px;
}
.testimonials .row p.text {
    font-style: normal;
    padding: 30px 0 30px;
	max-width: 900px;
	line-height: 1.6;
}
.testimonials .row p strong {
	letter-spacing: 0;
}
.team p {
    padding: 30px 0 50px;
}
.team ul {
    padding: 0;
}
.team ul p {
    line-height: 40px;
    font-size: 22px;
    padding: 40px 0 20px;

}
.team ul p strong,
.team ul p span,
.team ul p a {
    display: block;
    float: left;
    width: 100%;
    margin: 0 auto;
    text-overflow: ellipsis;
    text-align: center;
	text-decoration: none;
    overflow: hidden;
}
.team ul p strong {
    font-size: 120%;
	color: #333333;
	letter-spacing: 0;
}
.contact {
    background: url("../img/wave-5.png") left bottom no-repeat,
        url("../img/wave-4.png") top center no-repeat,
        url("../img/highlight.png") bottom center no-repeat,
        #0099ff;
}
.lt-ie9 .contact {
    background-color: #0099ff;
}
.contact p {
    text-align: center;
    color: #daf0ff;
    line-height: 60px;
    padding: 60px 0 100px;
    margin: 0 auto;
	max-width: 650px;
	letter-spacing: 0.5px;
}
.contact p .phone {
    padding-right: 20px;
}
.contact p a,
.contact p a:visited {
    color: #daf0ff;
}
.contact p a:hover {
    color: #00406a;
}
.contact form {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 0 180px;
}
.contact form .row {
    padding: 0 2%;
    width: 46%;
    float: left;
}
.contact form .row div {
    background: #92d5ff;
    border-radius: 25px;
    padding: 10px 20px;
    margin: 16px 0;
}
.contact form select,
.contact form textarea,
.contact form input {
    width: 100%;
    padding: 0;
    margin:0;
    border: none;
    background: transparent;
    color: #0079c9;
    font-family: 'geogrotesque_rgregular', Verdana, Verdana, Geneva, sans-serif;
    font-size: 28px;
    height: 32px;
}
.contact form .row div.submit {
    background: #0079C9;
    float: right;
    width: 40%;
    margin: 0;
    padding: 0;
}
.contact form .submit input {
    color: white;
    padding: 10px;
    height: 61px;

}
.contact form textarea {
    height: 188px;
    resize: none;
}
.contact form select {
    background: #92d5ff;
}
.contact form select:focus,
.contact form textarea:focus,
.contact form input:focus {
    outline: none;
}
.more-see {
    display: block;
    margin: 80px auto 0;
    position: relative;
    width: 77px;
    height: 77px;
}
.more-see .circle {
    width: 77px;
    height: 77px;
    position: relative;
    background: #0079c9;
    display: block;
    border-radius: 38px;
}
.more-see .more {
    color: white;
    display: block;
    position: absolute;
    left: 0px;
    width: 77px;
    top: 20px;
    text-align: center;
    font-size: 24px;
}
.map {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    top: 5px;
    left: 10px;
}
.map .circle {
    background: #0079c9;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    display: block;
    position: relative;
}

.map .arrow {
    width: 0;
    height: 0;
    display: block;
    border-left: 10px solid white;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    position: absolute;
    top: 10px;
    left: 12px;
}

#reference-detail {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
}
#reference-detail .scroll {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 20;
    overflow-y: scroll;
}
#reference-detail .layer {
    background: #e3e3e3;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    opacity: .93;
}
#reference-detail .detail {
    margin: 3% auto;
    z-index: 200;
    position: relative;
    width: 70%;
    background: white;
}
#reference-detail .images {
    float: left;
    width: 60%;
}
#reference-detail .images div {
    padding: 10% 6% 0 0;
}
#reference-detail .images div img {
    width: 100%;
    display: block;
    margin: 0 0 10% 0;
}
#reference-detail .info {
    float: left;
    width: 40%;
}
#reference-detail .info div {
    padding: 12% 12% 8% 6%;
    color: #333333;
    font-size: 18px;
    text-align: left;
}

#reference-detail .info h1 {
    margin: 0 0 30px 0;
    padding: 0;
    color: #0099ff;
    font-size: 52px;
    text-align: left;
    line-height: normal;
	font-weight: normal;

}

#reference-detail .info h2 {
    color: #333333;
    margin: 40px 0 25px;
    padding: 0;
    font-size: 22px;
    text-align: left;
    line-height: normal;
    font-weight: normal;
}
#reference-detail .info p {
    margin: 20px 0;
}

#reference-detail .info p.large {
    font-size: 22px;
}

#reference-detail .info a,
#reference-detail .info a:visited,
#reference-detail .info a:hover {
    color: #0066CC;
    text-decoration: none;
}

#reference-detail .info a:hover {
    color: #00406a;
	text-decoration: none;
}

#reference-detail a.close {
    display: block;
    width: 50px;
    height: 50px;
    background: #0079c9;
    border-radius: 25px;
    position: relative;
    position: absolute;
    right: -25px;
    top: -25px;
}
#reference-detail a.close span {
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    top: 15px;
    left: 15px;
    background: url("../img/close.png") no-repeat;
}

@media all and (max-width: 960px) {
    header {
		background-color: #0099ff;
		background: url("../img/wave-1.png") bottom right no-repeat,
			url("../img/wave-4.png") top center no-repeat,
			url("../img/monsters-4.png") left bottom no-repeat,
			url("../img/highlight.png") center bottom no-repeat,
			#0099ff;
		padding: 0;
		margin-top: 30px;
	}
	header p {
		font-size: 62px;
	}
	b, strong {
    	font-weight: normal;
	}
    .contact,
    .path,
    .team,
    .results,
    .solutions,
    .welcome {
        padding: 0% 10% 10%;
    }
    .contact {
        padding-bottom: 0;
        padding-top: 6%;
    }
    .contact h2,
    .solutions h2,
    .team h2,
    .results h2,
    .path h2 {
        padding: 10% 0 0;
    }
    .path h3,
    .solutions h3 {
        text-align: left;
        clear: both;
        padding: 20px 0;
    }
    .solutions ul {
        margin: 0 auto;
    }
    .team p,
    .results p,
    .path p,
    .solutions p {
        padding-bottom: 50px;
    }
    .solutions ul li:first-child,
    .solutions ul li {
        border: none;
        text-align: left;
        padding: 6px 10px 6px 0;
        float: left;
    }
    .solutions ul li:last-child:after {
        content: ""
    }
    .solutions ul li:after {
        content: ", "
    }
    .path .row,
    .solutions .row {
        margin: 0;
        float: none;
        width: 100%;
        padding: 0;
    }
    .welcome .devices {
        padding: 20px 0 30px;
    }
    .results .references {
        padding-bottom: 5%;
    }
    .navigation a {
        width: 14px;
        height: 14px;
        margin: 0 8px;
    }
    .testimonials {
        padding: 5% 0;
    }
    .team ul img {
        display: none;
    }
    .team ul p {
        padding: 0;
        text-align: center;
    }
    .team ul p strong,
    .team ul p span,
    .team ul p a {
        float: none;
        width: auto;
        display: inline;
        margin: 0;
        text-overflow: ellipsis;
        text-align: left;
        overflow: hidden;
        word-wrap: break-word;
    }
    .team ul p strong:after,
    .team ul p span:after {
        content: ", "
    }
    .team ul p span:last-child:after {
        content: "";
    }
    .team li {
        width: auto;
        padding: 10px 0;
        float: none;
    }
    .contact p {
        padding: 30px 0 50px;
    }
    .contact form {
        padding: 0 0 20%;
    }
    .contact form .row {
        float: none;
        width: 100%;
    }
	.contact .monster img {
    	margin-left: 140%;
	}
	.more-see {
		margin: 50px auto 0;
	}
    #reference-detail .info div {
        font-size: 13px;
    }
    #reference-detail .info h1 {
        font-size: 22px;
        margin: 0 0 42px 0;
    }
    #reference-detail .info h2 {
        font-size: 15px;
        margin: 25px 0;
    }
    #reference-detail .info p {
        margin: 14px 0;
    }
    #reference-detail .info p.large {
        font-size: 13px;
    }
    #reference-detail .detail .close {
        display: none;
    }
}

@media all and (max-width: 480px) {
    body {
        font-size: 18px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 18px;
    }
	.contact h2,
	.welcome h2,
    .solutions h2,
    .team h2,
    .results h2,
    .path h2 {
        padding: 40% 0 0;
    }
	header {
		margin-top: 10px;
	}
    header .logo {
        padding: 60px 0 0;
    }
	header .ico {
		padding: 0 0 250px;
	}
	header .ico img {
		padding: 5px;
		margin: 0;
	}
	header p {
		font-size: 35px;
		padding: 10px 0 220px;
	}
    .path,
    .solutions,
	.team,
	.results {
        padding: 0% 10% 15%;
    }
	.welcome h2 span {
    	background: url("../img/ico-welcome-1.png") top center no-repeat;
		padding: 85px 0 0;
	}
	.solutions h2 span {
		background: url("../img/ico-solutions-1.png") top center no-repeat;
		padding: 85px 0 0;
	}
	.path h2 span {
		background: url("../img/ico-path-1.png") top center no-repeat;
		padding: 85px 0 0;
	}
	.results h2 span {
		background: url("../img/ico-results-1.png") top center no-repeat;
		padding: 85px 0 0;
	}
	.team h2 span {
		background: url("../img/ico-team-1.png") top center no-repeat;
		padding: 85px 0 0;
	}
	.contact h2 span {
		background: url("../img/ico-contact-1.png") top center no-repeat;
		padding: 85px 0 0;
	}
    .solutions p,
	.welcome p,
	.path p,
	.contact p,
	.results p,
	.team p {
        padding: 0 0 20px;
    }
    .solutions ul li:first-child,
    .solutions ul li {
        font-size: 16px;
        padding: 3px 10px 3px 0;
    }
    .path .row p {
        font-size: 13px;
    }
    .navigation a {
        width: 10px;
        height: 10px;
        margin: 0 5px;
    }
	.results .references {
        padding: 10% 0 15%;
    }
    .results .testimonials .row {
        font-size: 17px;
    }
	.references a,
	.references a:visited,
	.references a:hover {
		font-size: 16px;
	}
    .team ul p {
        font-size: 17px;
        line-height: 26px;
    }
	.testimonials,
	.navigation-testimonials,
	.more-see,
	.team ul,
	header .ico {
		display: none;
	}
	.contact p {
        line-height: 36px;
		font-size: 20px;
    }
    .contact p .phone {
    	padding-right: 0px;
    }
	.contact .monster {
		visibility: hidden;
	}
	.contact form {
        padding: 20px 0 0 0;
    }
	.contact form select,
	.contact form textarea,
	.contact form input {
		font-size: 22px;
	}
    footer {
        font-size: 14px;
        line-height: 24px;
        padding: 10%;
    }
	.map {
		display: block;
		margin: 10px auto 0;
	}
    #reference-detail .images {
        display: none;
    }
    #reference-detail .info {
        width: 100%
    }
}












/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
