/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: 'geogrotesque_rgregular';
    src: url('../fonts/geogtq-rg-webfont.eot');
    src: url('../fonts/geogtq-rg-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/geogtq-rg-webfont.woff') format('woff'),
    url('../fonts/geogtq-rg-webfont.ttf') format('truetype'),
    url('../fonts/geogtq-rg-webfont.svg#geogrotesque_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'geogrotesque_rgregular', Verdana, Verdana, Geneva, sans-serif;
    font-size: 28px;
    color: #333333;
}

a,
a:visited {
    color: #0066cc;
}
a:hover {
    color: #00406a;
}

header {
    background-color: #0099ff;
    background: url("../img/wave-1.png") bottom right no-repeat,
        url("../img/highlight.png") center bottom no-repeat,
        #0099ff;
    padding: 0;
}
header .menu {
    float:left;
    width:100%;
    overflow:hidden;
    position:relative;
    padding: 50px 0 0;
}
header menu {
    clear:left;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    left:50%;
    text-align:center;
}
header li {
    display:block;
    float:left;
    list-style:none;
    margin:0;
    position:relative;
    right:50%;
}
header li a:visited,
header li a {
    color: white;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 22px;
    white-space: nowrap;
	font-size: 24px;
}
header li a:hover {
    color: #003366;
}
header .logo {
    padding: 100px 0 50px;
    clear: both;
}
header  h1 {
    width: 80%;
    height: auto;
    position: relative;
    margin: 0 auto;
}
header  h1 img {
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: 836px;
    max-height: 246px;
}
.contact .monster,
header .monster {
    margin: 0 auto;
    width: 30%;
    max-width: 400px;
}
.contact .monster img,
header .monster img {
    width: 100%;
    max-width: 380px;
    display: block;
    margin-left: -30%;
}
.contact .monster img {
    max-width: 256px;
    margin-left: 70%;
}
.results p,
.team p,
.path p,
.solutions p,
.welcome p {
    padding: 0;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
	letter-spacing: 0.5px;
}
.welcome p {
    color: #84ceff;
}
.results p,
.team p,
.path p {
    padding: 30px 0 100px;;
}
.solutions p {
    padding: 30px  0 100px;
}
.welcome {
    padding: 110px 0 100px;
    background: #00406a;
}
.solutions {
    padding: 0px 0px 0;
}
.team,
.results,
.path {
    padding: 0px 0 100px;
    border-top: 1px solid #cccccc;
    position: relative;
}

h2 {
    font-size: 90px;
    color: #0099ff;
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 90px;
}
h3 {
    font-size: 26px;
    color: #333333;
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 0;
}
.path h3,
.solutions h3 {
    padding: 0 0 30px;
}
.solutions {
    background: url(../img/wave-2.png) center top no-repeat;
}
.solutions ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.solutions ul li:first-child {
    border-top: 1px solid #ebebeb;
}
.solutions ul li {
    margin: 0;
    padding: 12px 0;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #ebebeb;
}
.solutions .devices {
    width: 80%;
    height: auto;
    position: relative;
    margin: 0 auto;
    padding: 120px 0 70px;
}
.solutions .devices img {
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: 1080px;
    max-height: 345px;
    position: relative;
    left: -2%;
}
.team ul,
.results .references,
.results .testimonials,
.path .cols,
.solutions .cols {
    max-width: 1030px;
    margin: 0 auto;
    overflow: hidden;
    list-style-type: none;
    position: relative;
}
.team li,
.results .testimonials .row,
.results .references .row,
.path .row,
.solutions .row {
    float: left;
    width: 29.33%;
    padding: 0 2%;
}


.path h3 {
    text-align: left;
}
.path .row p {
    padding: 0;
    text-align: left;
    font-size: 18px;
}
.team:before,
.results:before,
.path:before {
    content: "";
    width: 147px;
    height: 19px;
    background: url("../img/wave-3.png") top center no-repeat;
    margin: 0px auto 0;
    top: -1px;
    display: block;
    position: relative;
}

.contact h2,
.solutions h2,
.team h2,
.results h2,
.path h2 {
    padding: 90px 0 0;
}
.contact h2 {
    color: white;
}
.results .references {
    list-style-type: none;
    padding: 0 0 75px;
    position: relative;
}
.references a,
.references a:visited,
.references a:hover {
    display: block;
    color: #333333;
    text-align: center;
    text-decoration: none;
}
.references img {
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: 300px;
    max-height: 300px;
    position: relative;
}
.testimonials div.holder,
.references div.holder {
    position: relative;
    left: 0;
}
footer {
    line-height: 32px;
    text-align: center;
    color: #0099ff;
    background: #00406a;
    padding: 100px 70px;
    font-size: 18px;
}
footer p {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}
.navigation {
    margin:0 auto;
    height: 18px;
}
.navigation div {
    float:left;
    padding: 0px 0 0;
    position:relative;
    left:50%;

}
.navigation a {
    margin: 0px 10px 0;
    display: block;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background-color: #dcdcdc;
    float: left;
    position:relative;
    right:50%;
}
.navigation a.selected {
    background-color: #0079c9;
}
.testimonials {
    padding: 80px 0 50px;
}
.results .testimonials .row {
    font-size: 24px;
    padding: 0;
    width: 100%;
}

.testimonials .row p {
    padding: 0px 0 30px;
}
.testimonials .row p.text {
    font-style: italic;
    padding: 30px 0 30px;
}
.team p {
    padding: 30px 0 50px;
}
.team ul {
    padding: 0;
}
.team ul p {
    line-height: 46px;
    font-size: 22px;
    padding: 40px 0 20px;

}
.team ul p strong,
.team ul p span,
.team ul p a {
    display: block;
    float: left;
    width: 100%;
    margin: 0 auto;
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
}
.team ul p strong {
    font-size: 120%;

}
.contact {
    background: url("../img/wave-5.png") left bottom no-repeat,
        url("../img/wave-4.png") top center no-repeat,
        url("../img/highlight.png") bottom center no-repeat,
        #0099ff;
}
.contact p {
    text-align: center;
    color: #daf0ff;
    line-height: 60px;
    padding: 70px 0 120px;
    margin: 0 auto;
	max-width: 600px;
}
.contact p .phone {
    padding-right: 20px;
}
.contact p a,
.contact p a:visited {
    color: #daf0ff;
}
.contact p a:hover {
    color: #00406a;
}
.contact form {
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 0 250px;
}
.contact form .row {
    padding: 0 2%;
    width: 46%;
    float: left;
}
.contact form .row div {
    background: #92d5ff;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 16px 0;
}
.contact form select,
.contact form textarea,
.contact form input {
    width: 100%;
    padding: 0;
    margin:0;
    border: none;
    background: transparent;
    color: #0079c9;
    font-family: 'geogrotesque_rgregular', Verdana, Verdana, Geneva, sans-serif;
    font-size: 28px;
    height: 32px;
}
.contact form .row div.submit {
    background: #02426c;
    float: right;
    width: 50%;
    margin: 0;
    padding: 0;
}
.contact form .submit input {
    color: white;
    padding: 10px;
    height: 61px;

}
.contact form textarea {
    height: 188px;
    resize: none;
}
.contact form select {
    background: #92d5ff;
}
.contact form select:focus,
.contact form textarea:focus,
.contact form input:focus {
    outline: none;
}

@media all and (max-width: 960px) {
    header .monster img {
        margin-left: -30%;
    }
    header {
        background-color: #0099ff;
        background: url("../img/highlight.png") center bottom no-repeat,
            #0099ff;
    }
    .contact,
    .path,
    .team,
    .results,
    .solutions,
    .welcome {
        padding: 0% 10% 10%;
    }
    .contact {
        padding-bottom: 0;
        padding-top: 10%;
    }
    .welcome {
        padding-top: 10%;
    }
    .contact h2,
    .solutions h2,
    .team h2,
    .results h2,
    .path h2 {
        padding: 10% 0 0;
    }
    .path h3,
    .solutions h3 {
        text-align: left;
        clear: both;
        padding: 20px 0;
    }
    .solutions ul {
        margin: 0 auto;
    }
    .team p,
    .results p,
    .path p,
    .solutions p {
        padding-bottom: 50px;
    }
    .solutions ul li:first-child,
    .solutions ul li {
        border: none;
        text-align: left;
        padding: 6px 10px 6px 0;
        float: left;
    }

    .solutions ul li:last-child:after {
        content: ""
    }
    .solutions ul li:after {
        content: ", "
    }
    .path .cols {
        padding-bottom: 5%;
    }
    .path .row,
    .solutions .row {
        margin: 0;
        float: none;
        width: 100%;
        padding: 0;
    }
    .solutions .devices {
        padding: 60px 0 30px;
    }
    .results .references {
        padding-bottom: 10%;
    }
    .navigation a {
        width: 14px;
        height: 14px;
        margin: 0 8px;
    }
    .testimonials {
        padding: 5% 0;
    }
    .team ul img {
        display: none;
    }
    .team ul p {
        padding: 0;
        text-align: center;
    }
    .team ul p strong ,
    .team ul p span,
    .team ul p a {
        float: none;
        width: auto;
        display: inline;
        margin: 0;
        text-overflow: ellipsis;
        text-align: left;
        overflow: hidden;
        word-wrap: break-word;
    }
    .team ul p strong:after,
    .team ul p span:after {
        content: ", "
    }
    .team ul p span:last-child:after {
        content: "";
    }
    .team li {
        width: auto;
        padding: 0;
        float: none;
    }
    .contact {
        background:
            url("../img/wave-4.png") top center no-repeat,
            url("../img/highlight.png") bottom center no-repeat,
            #0099ff;
    }
    .contact p {
        padding: 30px 0 50px;
    }
    .contact form {
        padding: 0 0 20%;
    }
    .contact form .row {
        float: none;
        width: 100%;
    }
}

@media all and (max-width: 480px) {
    body {
        font-size: 20px;
    }
    h2 {
        font-size: 64px;
        line-height: 65px;

    }
    h3 {
        font-size: 18px;
    }
    header .logo {
        padding: 20px 0;
    }
    header .menu {
        padding: 10px 0;
    }
    header li a:visited,
    header li a {
	font-size: 14px;
    padding: 0 5px;
    }
    .solutions p {
        padding: 20px 0;
    }
    .solutions ul li:first-child,
    .solutions ul li {
        font-size: 16px;
        padding: 3px 10px 3px 0;
    }
    .path .row p {
        font-size: 13px;
    }
    .navigation a {
        width: 8px;
        height: 8px;
        margin: 0 5px;
    }
    .results .testimonials .row {
        font-size: 17px;
    }
    .contact p,
    .team ul p {
        font-size: 17px;
        line-height: 26px;
    }
    .contact p .phone {
    padding-right: 0px;
    }
    footer {
        font-size: 13px;
        line-height: 20px;
        padding: 10%;
    }
}












/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
